@page "/chat/{id}"
@attribute [Authorize]


<div class="chat-container">
    <div class="username"><h4>@toUser?.FirstName @toUser?.LastName</h4></div>
    <div id="messages-container" @onscroll="OnScroll">
        @if (isLoading)
        {
            <LoadingSpinner />
        }
        else
        {
            @foreach (var message in chatMessages)
            {
                bool isSent = message.FromUserId.ToString() == currentUserId;

                <div class="row @(isSent ? "sent-container" : "received-container")">
                    <div class="col-md-10 col-xs-10">
                        <div class="message-container @(isSent ? "sent-message" : "received-message")"
                     @onmouseover="() => OnMouseOver(message.Id)" @onmouseout="() => OnMouseOut()">
                            <p>@message.Message</p>
                        </div>

                    </div>
                    <div class="@(isSent ? "sent" : "received")">
                        <p class="message-date @(showDateTime && currentHoveredMessageId == message.Id ? "show" : "hide")">
                            @message.CreatedDate.ToString("MM/dd/yyyy h:mm tt")
                        </p>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row new-message-container">
        <div class="new-message-container__input">
            <input @bind="messageText" id="message-box" @onkeydown="OnKeyDown" class="message-box-style" />
        </div>
        <div class="new-message-container__button">
            <button @onclick="Send" disabled="@(!IsConnected)">
                <i class="far fa-paper-plane"></i>
            </button>
        </div>
    </div>
</div>