<div class="article-container">
    <div class="media-container">
        <img src="@ExtendedArticleDto.Article.social_image" alt="image" />
    </div>
    <div class="article-details-container">
        <a href="@ExtendedArticleDto.Article.url" target="_blank"><h3>@ExtendedArticleDto.Article.title</h3></a>
        <h5>@ExtendedArticleDto.Article.user.name</h5>
        <h6>@ExtendedArticleDto.Article.readable_publish_date</h6>
        <h6>Reading time: @ExtendedArticleDto.Article.reading_time_minutes minutes</h6>
        <h6>Tags: @ExtendedArticleDto.Article.tags</h6>
        <div class="article-summary">
            <p>@ExtendedArticleDto.Article.description</p>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="article-actions-container">
                    @if (!ExtendedArticleDto.IsSaved)
                    {
                        <button type="submit" @onclick="OnSaveArticle"><i class="far fa-bookmark"></i></button>
                    }
                    else
                    {
                        <button type="submit" @onclick="OnRemoveFromSavedArticles"><i class="fas fa-bookmark"></i></button>
                    }

                    @if (!ExtendedArticleDto.IsFavorite)
                    {
                        <button type="submit" @onclick="OnMarkArticleAsFavorite"><i class="far fa-star"></i></button>
                    }
                    else
                    {
                        <button type="submit" @onclick="OnRemoveFromFavoriteArticles"><i class="fas fa-star"></i></button>
                    }
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</div>